<!DOCTYPE html>
<html lang="ja"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	layout:decorate="~{shared/layout}">
<head>
	<title>Top</title>
</head>
<body>
	<div layout:fragment="content">
		<strong sec:authorize="isAuthenticated()">認証済み</strong>
		<strong sec:authorize="!isAuthenticated()">未認証</strong>
		<span th:text="${#authentication}">User</span>
		<span th:text="${#authentication.name}">loginId</span>
	<!--  	<span th:text="${#authentication.principal.authorities}">authorities</span>-->
	</div>
</body>
</html>
