<!DOCTYPE html>
<html lang="ja"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<header class="navbar navbar-expand-lg navbar-dark bg-dark" layout:fragment="header">
		<div class="collapse navbar-collapse" id="navbarMenu">
			<ul class="navbar-nav mr-auto"></ul>
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="loginUserDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${#authentication.name}">ログインID</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="loginUserDropdown">
						<a class="dropdown-item" href="/me/password">パスワード変更</a>
	                    <div class="dropdown-divider"></div>
						<a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="javascript:;">ログアウト</a>
					</div>
				</li>
			</ul>
		</div>
	</header>
</body>
</html>
